{% extends 'index.html' %}
{% block content %}
  
 <!doctype html>
<html lang="en">
  <head>
    <title>IncomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="../static/css/style.css">

  </head>
  <body>
  <section class="ftco-section">
    <div class="container">
      
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap py-5">
           
            <h3 class="text-center mb-0">IncomeAdd</h3>
           
            <form action="incomesave" class="login-form" method="post">
              {% csrf_token %}
              <div class="form-group">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                <input type="time" class="form-control" placeholder="Time" required name="time">
              </div>
              <div class="form-group">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                <input type="date" class="form-control" placeholder="date" required name="date">
              </div>
              <div class="form-group">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-mobile"></span></div>
                <input type="text" class="form-control" placeholder="Remark" required name="remark">
              </div>
              <div class="form-group">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-address-book-o"></span></div>
                <input type="text" class="form-control" placeholder="Amount" required name="amount">
              </div>
              <div class="form-group">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-address-book-o"></span></div>
                <select class="form-control" name="category">
                     <option value="shop">Shop</option>
                     <option value="sharemarket">ShareMarket</option>
                     <option value="salary">Salary</option>
                     <option value="roomrent">RoomRent</option>
                </select>
              </div>
              
              <div class="form-group">
                <button type="submit" class="btn form-control btn-primary rounded submit px-3">IncomeAdd</button>
              </div>
            </form>
            <div class="w-100 text-center mt-4 text">
              <!-- <p class="mb-0">Don't have an account?</p>
              <a href="#">Sign Up</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>

  </body>
</html>

        
{% endblock %}